@import "~bootstrap/dist/css/bootstrap.css"; 
label{
    padding-left: 0px;
    float: left;
    }
    body{padding-top: 5000px;}
    button,.btn{float: left;margin-right: 20px;margin-left: 15px;}
    .first{
        width: 50%;
    }
   #t{
        margin-left: 35%;
        animation-delay:0ms;
        padding-top: 10%;
       
    }
    h1{
        
        padding-left: 20%;
    }
